.container{
    margin: 0 auto;
    max-width: 600px;
    min-height: 100vh;
    background: lightgray;
}

input[name="task"]{
    border:4px solid black;
}

#createTaskButton{
    display: inline-block;
    background-color: darkolivegreen;
    color: white;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: pointer;
}

.validStyle{
    border-color: green;
}

.invalidStyle{
    border-color: red;
}